.container {
  height: 100px;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  background-color: rgb(28, 28, 28);
  box-shadow: 0 20px 30px rgb(28, 28, 28);
  z-index: 20;
  color: white;
}
.leftContainer {
  background-color: rgb(28, 28, 28);
  display: flex;
  align-items: center;
  height: 100px;
}
.centerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(28, 28, 28);
}
.artist {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-bottom: 15px;
  background-color: rgb(28, 28, 28);
  box-shadow: inset 0px -1px 0px #f7ab0a;
}
.navContent {
  display: flex;
  width: 60vw;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
  background-color: rgb(28, 28, 28);
}
.navLink {
  color: white;
  transition-duration: 0.4s;
  margin: 9px;
  background-color: rgb(28, 28, 28);
}
.navLink:hover {
  color: #f7ab0a;
  scale: 1.1;
}
.rightContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(28, 28, 28);
}
.hamburgerMenu {
  display: none;
}
.buttonHeader {
  transition-duration: 0.4s;
  margin-right: 6px;
}
.buttonHeader:hover {
  scale: 1.1;
}
@media screen and (max-width: 768px) {
  .artist {
    font-size: 20px;
    margin-bottom: 15px;
    background-color: rgb(28, 28, 28);
    box-shadow: inset 0px -1px 0px #f7ab0a;
  }
  .skills {
    display: none;
  }
  .leftContainer {
    display: flex;
    flex-direction: column;
    order: 3;
  }.buttonHeader {
    margin-right: 0;
    margin-bottom: 3px;
  }
  .centerContainer {
    order: 2;
  }
  .rightContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 1;
    width: 70px;
  }
  .hamburgerMenu {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .navBarOpen {
    position: fixed;
    top: O;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
  }
  .logoHamburger {
    font-size: 30px;
    margin-top: 5px;
    color: white;
    transition-duration: 0.3s;
    background-color: transparent;
  }
  .logoHamburger:hover {
    color: #f7ab0a;
  }
  .navContentMobile {
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
  }
  .navLinkMobile {
    color:white;
    transition-duration: 0.4s;
    margin: 14px;
    box-shadow: inset 0px -1px 0px #f7ab0a;
  }
}
