.homeContainer {
  color: white;
  margin-top: 10px;
  padding: 1em;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerContainer {
  display: flex;
  justify-content: center;
}
.banner {
  border-radius: 20px;
  width: 75%;
  object-fit: contain;
}
.bioContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bio {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: underline #f7ab0a;
}

.bioBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
.profilPic {
  width: 25%;
  object-fit: cover;
  border-radius: 5px;
}
.bioDescription {
  width: 300px;
  margin-left: 50px;
  font-size: 14px;
}
.citationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.citationImg {
  object-fit: cover;
  width: 100%;
  height: 600px;
  border-radius: 5px;
  opacity: 0.7;
}
.textImg {
  background: none;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.contactSection {
  height: 300px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  color: white;
  width: 75%;
}
.formTitle {
  font-size: 30px;
  width: 400px;
}
.formSectionG {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.formSection1 {
}
.contactInput {
  padding: 5px;
  border: solid 3px #404040;
  border-radius: 5px;
  margin-bottom: 5px;
  outline-width: none;
  transition-duration: 0.3s;
  color: white;
  background-color: transparent;
}
.contactInput::placeholder {
  color: gray;
}
.contactInput:hover {
  border: solid 3px #f7ab0a;
}
.contactInput:focus {
  border: solid 3px #f7ab0a;
}
.submitBtn {
  height: 50px;
  color: white;
  border: solid 3px #404040;
  border-radius: 5px;
  font-weight: 600;
  transition-duration: 0.3s;
  background-color: transparent;
}
.submitBtn:hover {
  background-color: #f7ab0a;
  color: black;
  border-radius: 5px;
  border: none;
}
@media (max-width: 768px) {
  .formTitle {
    font-size: 20px;
    width: 400px;
  }
  .textImg {
    font-size: 18px;
  }
}
